<% include ../partials/header %>
    <div class="row">
      <h1 style="text-align: center;"> Edit - <%= place.name %></h1>
      <div style="width: 45%; margin: 25px auto; text-align: center;">
        <form action="/places/<%= place._id %>?_method=PUT" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" placeholder="Name" name="place[name]" value="<%= place.name %>">
          </div>
          <div class="form-group">
            <label for="location">Location</label>
            <input class="form-control" type="text" name="location" id="autocomplete" value="<%= place.location %>">
          </div>
          <div class="form-group">
            <label for="cost">Cost</label>
            <input class="form-control" type="number" placeholder="Avg. Price/Person" name="place[price]" value="<%= place.price %>" min="0.01" step="0.01">
          </div>
          <!-- <div class="form-group">
            <label for="image">Image Url</label>
            <input class="form-control" type="text" placeholder="Image Url" name="place[image]" value="<%= place.image %>">
          </div> -->
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" placeholder="Description..." name="place[description]" cols="40" rows="5"><%= place.description %></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Submit</button>
          </div>
        </form>
        <a href="/places">Back to all dog friendly places</a><br><br>
      </div>
    </div>
    <br><br>
    <script>
      var input = document.getElementById('autocomplete');
      var autocomplete = new google.maps.places.Autocomplete(input);
    </script>
  <% include ../partials/footer %>
