<% include partials/header %>
<p>
  <%= place.name %>
</p>
<p>
  <img src="<%= place.image %>" alt="<%= place.name %>">
</p>
<p>
  <%= place.description %>
</p>

  <% place.comments.forEach(function(comment){ %>
    <p>
      <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
  <% }) %>

<% include partials/footer %>
